@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 1600px;
  width: 100%;
  height: 71px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #e5e5e5;
}
.header__heading {
  width: 284px;
  margin: 4px 0 0 25px;
}
.header__back-block:hover, .header__sign-in-block:hover {
  cursor: pointer;
}
.header__back-name, .header__sign-name {
  text-transform: uppercase;
}
.header__sign-name {
  margin-left: 4px;
}

@media screen and (max-width: 570px) {
  .header__back-name {
    display: none;
  }

  .header__sign-name {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header__heading {
    margin: 4px 0 0 0;
    width: 80%;
  }
  .header__logo-img {
    width: 100%;
  }
}
.content {
  max-width: 1600px;
  width: 100%;
  padding: 57px 40px 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.content__subscription-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.content__heading {
  color: #000000;
  font-size: 28px;
  word-spacing: 3px;
  text-align: center;
}
.content__subtitle {
  color: #4c4c4c;
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 1.2em;
}
.content__cards-block {
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
}
.content__cards-block__card {
  width: 32.5%;
  max-width: 400px;
  height: 728px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__cards-block__card:nth-child(even) {
  background-color: #f8f8f8;
}
.content__cards-block__card:nth-child(odd) {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.content .card__img {
  width: 100%;
}
.content .card__top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 416px;
}
.content .card__top-block::after {
  position: relative;
  top: 20px;
  background-color: blueviolet;
  width: 90%;
  height: 10px;
  border-top: 1px solid black;
  border-style: dashed;
}
.content .card__heading {
  font-size: 28px;
  padding-top: 27px;
}
.content .card__heading_blue {
  color: #2b87dc;
}
.content .card__heading_green {
  color: #1ab0b9;
}
.content .card__heading_violet {
  color: #3a55af;
}
.content .card__cost {
  font-size: 23px;
  padding-top: 13px;
}
.content .card__bet-for-week {
  padding-top: 9px;
}
.content .card__start-btn {
  margin-top: 26px;
  width: 160px;
  height: 47px;
  border-radius: 22px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: inherit;
}
.content .card__start-btn:hover {
  cursor: pointer;
  background-color: #686868;
  border: 2px solid #000000;
}
.content .card__start-btn_blue {
  background-color: #2b87dc;
  color: #ffffff;
  border: none;
}
.content .card__start-btn_green {
  color: #1ab0b9;
  border: 2px solid #1ab0b9;
}
.content .card__start-btn_violet {
  background-color: #3a55af;
  color: #ffffff;
  border: none;
}
.content .card__bottom-block {
  box-sizing: border-box;
  padding: 31px 28px 0;
  width: 100%;
  height: 280px;
}
.content .card__state {
  padding-bottom: 24px;
}
.content .card__state-name {
  font-size: 15px;
  margin-left: 5px;
}
.content .card-2 .card__state-name {
  margin-left: 9px;
}
.content .card-3 .card__state-name {
  margin-left: 10px;
}
.content .card__checkbox-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}
.content .card__checkbox-itm {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 23px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content .card__checkbox-itm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.content .card__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #f8f8f8;
  border: 1px solid #d6d6d6;
}
.content .card__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.content .card__checkbox-block input:checked ~ .card__checkmark:after {
  display: block;
}
.content .card__checkbox-block .card__checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #383838;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.content .card__checkbox-text {
  font-size: 16px;
  padding-left: 28px;
}
.content .card__details-btn {
  margin: 0 auto;
  text-transform: uppercase;
  display: block;
  width: 67px;
  letter-spacing: 1px;
}
.content .card__details-btn_blue {
  color: #2b87dc;
  margin-top: -7px;
}
.content .card__details-btn_green {
  color: #1ab0b9;
  margin-top: 76px;
}
.content .card__details-btn_violet {
  color: #3a55af;
  margin-top: 36px;
}

@media screen and (max-width: 1500px) {
  .content .card__top-block {
    height: 53%;
  }
  .content .card__bottom-block {
    padding: 15px 28px 0;
  }
  .content .card__state {
    padding-bottom: 15px;
  }
  .content .card__state-name {
    font-size: 12px;
  }
}
@media screen and (max-width: 1300px) {
  .content .card__top-block {
    height: 50%;
  }
  .content .card__bottom-block {
    padding: 7px 28px 0;
  }
  .content .card__state {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .content__cards-block {
    width: 95.5%;
  }
}
@media screen and (max-width: 950px) {
  .content__cards-block {
    flex-direction: column;
  }
  .content .card {
    width: 60%;
    margin-bottom: 23px;
  }
  .content .card__top-block {
    height: 55%;
  }
}
@media screen and (max-width: 630px) {
  .content {
    padding: 25px 40px 0;
  }
  .content__heading {
    font-size: 18px;
    word-spacing: 1.5px;
  }
  .content__subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 570px) {
  .content__cards-block {
    flex-direction: column;
  }
  .content .card {
    width: 70%;
    margin-bottom: 23px;
  }
}
@media screen and (max-width: 400px) {
  .content {
    padding: 25px 20px 0;
  }
  .content .card {
    width: 100%;
  }
}
.offers-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 176px 59px;
}
.offers-block__heading {
  text-transform: uppercase;
  font-size: 18px;
  color: #4c4c4c;
}
.offers-block__cards-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  width: 100%;
}
.offers-block__small-card {
  height: 154px;
}
.offers-block .small-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.offers-block .small-card__heading {
  color: #1ab0b9;
  font-size: 28px;
}
.offers-block .small-card__cost {
  padding-top: 23px;
  font-size: 18px;
}
.offers-block .small-card__start-btn {
  width: 160px;
  height: 47px;
  border-radius: 22px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  background-color: #1ab0b9;
  color: #ffffff;
  margin-top: 41px;
}
.offers-block .small-card__start-btn:hover {
  cursor: pointer;
  background-color: #2b87dc;
}

@media screen and (max-width: 1090px) {
  .offers-block__cards-block {
    flex-direction: column;
  }
  .offers-block .small-card {
    margin-bottom: 20px;
  }
}
.benefits-block {
  padding: 56px 165px 0;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.benefits-block__heading {
  letter-spacing: -1px;
  font-size: 41px;
  text-align: center;
}
.benefits-block .cards-block {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.benefits-block .cards-block__itm {
  max-width: 281px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.benefits-block .itm__heading {
  padding-top: 29px;
  font-size: 18px;
  line-height: 23px;
}
.benefits-block .itm__text {
  font-size: 0.925rem;
  padding-top: 20px;
  line-height: 22px;
}

@media screen and (max-width: 900px) {
  .benefits-block .cards-block {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 630px) {
  .benefits-block {
    padding: 56px 130px 0;
  }
  .benefits-block .itm {
    max-width: 381px;
    width: 100%;
  }
}
@media screen and (max-width: 545px) {
  .benefits-block {
    padding: 56px 20px 0;
  }
  .benefits-block .itm {
    max-width: 381px;
    width: 100%;
  }
}
.slider {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding-top: 55px;
  position: relative;
}
.slider__tools {
  position: absolute;
  width: 100%;
  top: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 42px;
  box-sizing: border-box;
}
.slider__top-tools {
  justify-content: space-between;
  display: flex;
  width: 100%;
  max-width: 1517px;
}
.slider__arrow {
  padding-top: 17px;
  height: 35px;
}
.slider__arrow:hover {
  cursor: pointer;
}
.slider__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: #ffffff;
  text-transform: uppercase;
}
.slider__text-top {
  font-size: 15px;
}
.slider__text-bottom {
  padding-top: 5px;
  font-size: 42px;
}
.slider__switch-point-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4.29%;
  margin-top: 143px;
}
.slider__switch-point {
  width: 6px;
  height: 6px;
  background-color: #cccccc;
  border-radius: 3px;
}
.slider__switch-point_active {
  background-color: #ffffff;
}
.slider__switch-point:hover {
  background-color: #494646;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .slider {
    display: none;
  }
}
.add-article-block {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.add-article-block__heading {
  font-size: 28px;
  padding-top: 55px;
  text-align: center;
}
.add-article-block__text {
  font-size: 14px;
  padding-top: 24px;
  line-height: 26px;
  text-align: center;
  word-spacing: 0.09em;
  letter-spacing: 0.00999em;
}
.add-article-block__btn {
  background: inherit;
  border: 2px solid #000000;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin-top: 31px;
  text-transform: uppercase;
  padding-top: 7px;
  margin-bottom: 61px;
}
.add-article-block__btn:hover {
  cursor: pointer;
  background-color: #686868;
}

@media screen and (max-width: 1000px) {
  .add-article-block {
    padding: 0 40px;
    box-sizing: border-box;
  }
}
.footer {
  max-width: 1600px;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
}
.footer__licence-name {
  padding-top: 28px;
  font-size: 14px;
}
.footer__nav {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  padding: 30px 61px 0px 5px;
  width: 31%;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  color: #000000;
}
.footer__item:hover {
  cursor: pointer;
  color: #979595;
}

@media screen and (max-width: 1590px) {
  .footer {
    padding: 0 39px;
  }
  .footer__nav {
    width: 31%;
  }
}
@media screen and (max-width: 1400px) {
  .footer__nav {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
  .footer__nav {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    padding: 0 40px;
  }
  .footer__nav {
    width: 90%;
    padding: 30px 5px 0px 5px;
  }
}
@media screen and (max-width: 610px) {
  .footer {
    padding: 0 15px;
  }
  .footer__nav {
    width: 90%;
  }
}
@media screen and (max-width: 490px) {
  .footer {
    padding: 0 3px;
    flex-direction: column;
  }
  .footer__nav {
    width: 100%;
    order: 1;
    font-size: 12px;
  }
  .footer__licence-name {
    order: 2;
  }
}
.login-block {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 1312px;
}
.login-block__header {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-block__heading {
  width: 284px;
  padding: 29px 0 21px 0;
}

.left-col {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1238px;
}
.left-col__account-block {
  margin: 0 auto;
  width: 463px;
}

.progress-block {
  width: 87%;
  margin: 0 auto;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}
.progress-block__point-img {
  width: 9px;
  margin-left: 27%;
}
.progress-block__progress-line {
  width: 100%;
  height: 2px;
  margin-top: 6px;
  background-color: #e5e5e5;
}
.progress-block__line {
  position: relative;
  height: 2px;
  background-color: #000000;
  width: 28%;
}
.progress-block__steps-name {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0px 6px 0px 0px;
}
.progress-block__name:nth-child(2) {
  margin-left: -16px;
}
.progress-block__name {
  color: #666666;
}
.progress-block__name_active {
  color: #000000;
}

.digital-block {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 55px;
  height: 89px;
}
.digital-block__heading {
  font-size: 26px;
  padding-top: 17px;
}
.digital-block__cost {
  padding-top: 10px;
  font-size: 16px;
}

.log-in-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.log-in-block__heading {
  padding-top: 35px;
  font-size: 28px;
}
.log-in-block__text {
  padding-top: 23px;
  font-size: 15px;
}
.log-in-block__btns-block {
  width: 100%;
  align-items: center;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 40px;
  margin-bottom: 40px;
}
.log-in-block__btn {
  width: 181px;
  height: 45px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
}
.log-in-block__btn_blue {
  color: #f0f0f0;
  background-color: #3a55af;
  padding: 15px 41px 0 0;
}
.log-in-block__btn_blue::after {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  top: -19px;
  left: 152px;
  height: 30px;
  background-image: url("../../assets/facebook.png");
  background-repeat: no-repeat;
}
.log-in-block__btn_white {
  color: #000000;
  background-color: #eeeeee;
  padding: 15px 61px 0 0;
}
.log-in-block__btn_white::after {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  top: -23px;
  left: 146px;
  height: 30px;
  background-image: url("../../assets/google.png");
  background-repeat: no-repeat;
}
.log-in-block__btn:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.form {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  height: 338px;
  width: 88%;
  margin: 0 auto;
}
.form__email-block {
  margin-top: 66px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
}
.form__email-block input {
  width: 98%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 5px;
}
.form__password-block {
  margin-top: 33px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  position: relative;
}
.form__password-block input {
  width: 98%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 5px;
}
.form__show-password {
  position: absolute;
  top: 17px;
  right: 9px;
  color: #1ab0b9;
  font-size: 15px;
}
.form__show-password:hover {
  cursor: pointer;
  color: #cccccc;
}
.form__price {
  padding-top: 26px;
  font-size: 18px;
}
.form__btn {
  width: 163px;
  height: 46px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 55px;
  background-color: #2b87dc;
  color: #ffffff;
  border: none;
  font-size: 17px;
}
.form__btn:hover {
  cursor: pointer;
}

.right-col {
  background-color: #f0f0f0;
  max-width: 363px;
  width: 23%;
  padding: 28px 62px 0;
  display: flex;
  flex-direction: column;
}
.right-col__top-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  font-size: 26px;
  height: 50px;
}
.right-col__img {
  margin-top: 6px;
  height: 17px;
}
.right-col__heading {
  font-size: 18px;
}
.right-col__bottom-block {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
}
.right-col__article {
  padding-top: 29px;
  line-height: 24px;
}
.right-col__sales-text {
  padding-top: 28px;
  font-size: 15px;
}
.right-col__total {
  padding-top: 33px;
  font-size: 15px;
}

.log-in-block__footer {
  margin-top: 336px;
  border-top: 1px solid #e5e5e5;
}
.log-in-block__nav {
  width: 36%;
  padding: 35px 5px 0px 5px;
}

@media screen and (max-width: 1400px) {
  .log-in-block__nav {
    width: 56%;
  }
}
@media screen and (max-width: 1200px) {
  .right-col {
    padding: 28px 10px 0;
  }
}
@media screen and (max-width: 950px) {
  .log-in-block__nav {
    width: 86%;
  }
}
@media screen and (max-width: 750px) {
  .right-col {
    display: none;
  }

  .left-col {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .log-in-block__footer {
    width: 100%;
  }
}
.message-block {
  position: absolute;
  margin: 0 auto;
  width: 40%;
  height: 90px;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  border-radius: 20px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
