.content {
    max-width: 1600px;
    width: 100%;
    padding: 57px 40px 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;

    &__subscription-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    &__heading {
        color: #000000;
        font-size: 28px;
        word-spacing: 3px;
        text-align: center;
    }

    &__subtitle {
        color: #4c4c4c;
        text-transform: uppercase;
        padding-top: 20px;
        font-size: 1.2em;
    }

    &__cards-block {
        width: 84%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 55px;

        &__card {
            width: 32.5%;
            max-width: 400px;
            height: 728px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-child(even) {
                background-color: #f8f8f8;
            }

            &:nth-child(odd) {
                box-shadow: 0 6px 12px rgba(0,0,0,0.25);
            }
        }
    }

    .card {
        &__img {
            width: 100%;
        }

        &__top-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 416px;

            &::after {
                position: relative;
                top: 20px;
                background-color: blueviolet;
                width: 90%;
                height: 10px;
                border-top: 1px solid black;
                border-style: dashed;
            }
        }

        &__heading {
            font-size: 28px;
            padding-top: 27px;

            &_blue {
                color: #2b87dc;
            }

            &_green {
                color: #1ab0b9;
            }

            &_violet {
                color: #3a55af;
            }
        }

        &__cost {
            font-size: 23px;
            padding-top: 13px;
        }

        &__bet-for-week {
            padding-top: 9px;
        }

        &__start-btn {
            margin-top: 26px;
            width: 160px;
            height: 47px;
            border-radius: 22px;
            font-size: 16px;
            text-transform: uppercase;
            background-color: inherit;
            
            &:hover {
                cursor: pointer;
                background-color: #686868;
                border: 2px solid #000000;
            }
        }

        &__start-btn_blue {
            background-color: #2b87dc;
            color: #ffffff;
            border: none;
        }

        &__start-btn_green {
            color: #1ab0b9;
            border: 2px solid #1ab0b9;
        }

        &__start-btn_violet {
            background-color: #3a55af;
            color: #ffffff;
            border: none;
        }

        &__bottom-block {
            box-sizing: border-box;
            padding: 31px 28px 0;
            width: 100%;
            height: 280px;
        }

        &__state {
            padding-bottom: 24px;
        }

        &__state-name {
            font-size: 15px;
            margin-left: 5px;
        }
        
        &-2 .card__state-name {
            margin-left: 9px;
        }

        &-3 .card__state-name {
            margin-left: 10px;
        }

        &__checkbox-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 7px;
        }

        &__checkbox-itm {
            position: relative;
            display: flex;
            align-items: center;
            padding-bottom: 23px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        &__checkbox-itm input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &__checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #f8f8f8;
            border: 1px solid #d6d6d6;
        }
          
        &__checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
          
        &__checkbox-block input:checked ~ .card__checkmark:after {
            display: block;
        }
          
        &__checkbox-block .card__checkmark:after {
            left: 5px;
            top: 1px;
            width: 4px;
            height: 8px;
            border: solid #383838;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &__checkbox-text {
            font-size: 16px;
            padding-left: 28px;
        }

        &__details-btn {
            margin: 0 auto;
            text-transform: uppercase;
            display: block;
            width: 67px;  
            letter-spacing: 1px;

            &_blue {
                color: $blue;
                margin-top: -7px;
            }

            &_green {
                color: $aqua;
                margin-top: 76px;
            }

            &_violet {
                color: $violet;
                margin-top: 36px;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .content .card {
        &__top-block {
            height: 53%;
        }

        &__bottom-block {
            padding: 15px 28px 0;
        }

        &__state {
            padding-bottom: 15px;
        }

        &__state-name {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .content .card {
        &__top-block {
            height: 50%;
        }

        &__bottom-block {
            padding: 7px 28px 0;
        }
        
        &__state {
            padding-bottom: 15px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .content {
        &__cards-block {
            width: 95.5%;
        }
    }
}

@media screen and (max-width: 950px) {
    .content {            
        &__cards-block {
            flex-direction: column;
        }

        .card {
            width: 60%;
            margin-bottom: 23px;
            
            &__top-block {
                height: 55%;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .content {    
        padding: 25px 40px 0;

        &__heading {
            font-size: 18px;
            word-spacing: 1.5px;
        }

        &__subtitle {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 570px) {
    .content {
        &__cards-block {
            flex-direction: column;
        }

        .card {
            width: 70%;
            margin-bottom: 23px;
        }
    }
}

@media screen and (max-width: 400px) {
    .content {
        padding: 25px 20px 0;

        .card {
            width: 100%;
        }
    }
}