.content {
    max-width: 1600px;
    width: 100%;
    padding: 57px 40px 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__heading {
        color: #000000;
        font-size: 28px;
        word-spacing: 3px;
        text-align: center;
    }

    &__subtitle {
        color: #4c4c4c;
        text-transform: uppercase;
        padding-top: 20px;
        font-size: 1.2em;
    }

    &__cards-block {
        width: 84.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 55px;

        &__card {
            width: 32.5%;
            max-width: 400px;
            height: 728px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-child(even) {
                background-color: #f8f8f8;
            }

            &:nth-child(odd) {
                box-shadow: 0 6px 12px rgba(0,0,0,0.25);
            }
        }
    }

    .card {
        &__img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .content {
        &__cards-block {
            width: 95.5%;
        }
    }
}

@media screen and (max-width: 700px) {
    .content {
        &__cards-block {
            flex-direction: column;
        }

        .card {
            width: 60%;
            margin-bottom: 23px;
        }
    }
}

@media screen and (max-width: 630px) {
    .content {    
        padding: 25px 40px 0 40px;

        &__heading {
            font-size: 18px;
            word-spacing: 1.5px;
        }

        &__subtitle {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 570px) {
    .content {
        &__cards-block {
            flex-direction: column;
        }

        .card {
            width: 70%;
            margin-bottom: 23px;
        }
    }
}