.message-block {
    position: absolute;
    margin: 0 auto;
    width: 40%;
    height: 90px;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 20px;
    font-size: 20px;
}