.offers-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 176px 59px;

    &__heading {
        text-transform: uppercase;
        font-size: 18px;
        color: #4c4c4c;
    }

    &__cards-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
        width: 100%;
    }

    &__small-card {
        height: 154px;
    }

    .small-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &__heading {
            color: $aqua;
            font-size: 28px;
        }

        &__cost {
            padding-top: 23px;
            font-size: 18px;
        }

        &__start-btn {
            width: 160px;
            height: 47px;
            border-radius: 22px;
            font-size: 16px;
            border: none;
            text-transform: uppercase;
            background-color: $aqua;
            color: #ffffff;
            margin-top: 41px;

            &:hover {
                cursor: pointer;
                background-color: $blue;
            }
        }
    }
}

@media screen and (max-width: 1090px) {
    .offers-block {
        &__cards-block {
            flex-direction: column;
        }

        .small-card {
            margin-bottom: 20px;
        }
    }
}