.offers-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 176px 0;

    &__heading {
        text-transform: uppercase;
        font-size: 18px;
    }

    &__cards-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
        width: 100%;
    }

    &__small-card {
        height: 154px;
    }

    .small-card {
        display: flex;
        flex-direction: column;

        &__heading {
            color: $aqua;
            font-size: 28px;
        }
    }
}